.simple-control {
    -fx-padding: 5;
    -fx-background-color: white;
}

.simple-control .background-circle {
    -fx-fill: transparent;
}

.simple-control .maxMwhArc {
    -fx-stroke-width   : 30;
    -fx-stroke         : #6BD098;
    -fx-stroke-line-cap: round;
    -fx-fill           : transparent;
}

.simple-control .currentMwh2015Arc {
    -fx-stroke-width   : 30;
    -fx-stroke         : #CC3D86;
    -fx-stroke-line-cap: round;
    -fx-fill           : transparent;
}

.simple-control .currentMwh2016Arc {
    -fx-stroke-width   : 30;
    -fx-stroke         : #FDD200;
    -fx-stroke-line-cap: round;
    -fx-fill           : transparent;
}

.simple-control .currentMwh2017Arc {
    -fx-stroke-width   : 30;
    -fx-stroke         : #E86E01;
    -fx-stroke-line-cap: round;
    -fx-fill           : transparent;
}

.simple-control .currentMwh2018Arc {
    -fx-stroke-width   : 30;
    -fx-stroke         : #E02716;
    -fx-stroke-line-cap: round;
    -fx-fill           : transparent;
}

.simple-control .thumb2015 {
    -fx-stroke         : #CC3D86;
    -fx-stroke-width   : 2;
    -fx-fill           : white;
}

.simple-control .thumb2016 {
    -fx-stroke         : #FDD200;
    -fx-stroke-width   : 2;
    -fx-fill           : white;
}

.simple-control .thumb2017 {
    -fx-stroke         : #E86E01;
    -fx-stroke-width   : 2;
    -fx-fill           : white;
}

.simple-control .thumb2018 {
    -fx-stroke         : #E02716;
    -fx-stroke-width   : 2;
    -fx-fill           : white;
}

.simple-control .operationButtonOn {
    -fx-background-image: url("icons/plugOn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.simple-control .label2015 {
    -fx-text-weight: bolder;
    -fx-text-fill: #CC3D86;
}

.simple-control .label2016 {
    -fx-text-weight: bolder;
    -fx-text-fill: #FDD200;
}

.simple-control .label2017 {
    -fx-text-weight: bolder;
    -fx-text-fill: #E86E01;
}

.simple-control .label2018 {
    -fx-text-weight: bolder;
    -fx-text-fill: #E02716;
}


.simple-control .operationButtonOff {
    -fx-background-image: url("icons/plugOff.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.simple-control .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 24;
    -fx-fill: derive(-base-color, 95%);
}

